<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
<h1>Список машин</h1>
<table>
    <thead>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год выпуска</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars : ${cars}">
        <!--/*@thymesVar id="brand" type="org"*/-->
        <td th:text="${cars.brand}"></td>
        <td th:text="${cars.model}"></td>
        <td th:text="${cars.year}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>